/* Target inputs with a type of text, and all textarea's. */
input[type="text"], textarea
{
    background-color: chartreuse;
    color: navy;
}
/* Target inputs with a type of anything but text. */
input:not([type="text"])
{
    background-color: darkgreen;
    color: white;
}
